# Frontend — Variables de entorno
REACT_APP_API_URL=http://localhost:5000/api/v1
REACT_APP_APP_NAME=EcoAlerta
REACT_APP_MAP_DEFAULT_LAT=38.3452
REACT_APP_MAP_DEFAULT_LNG=-0.4815
REACT_APP_MAP_DEFAULT_ZOOM=13
